.informationApplication{
    background-color: $color-blue;
    
    h1{
        font-size: 36px;
        text-align: right;
        margin-right: 10%;
        color: $colors-background;
    }
    .ornament{
        width: 85%;
        height: 3px;
        margin-left: 5%;
        background-color: $colors-background;
        margin-bottom: 20px;
    }
    article{
        
        display: flex;
        width: 80%;
        margin: auto;
        padding-bottom: 30px;
        @media (max-width: 840px){
            display: block;
            text-align: center;
            width: 100%;
            
         }
        .containerParagraph{
            width: 70%;
            p{
                font-size: 26px;
                padding: 4px;
                color: $color-fonts-2;
            }
            @media (max-width: 840px){
                display: block;
                text-align: center;
                width: 100%;
                
             }
        }
        .containerButtom{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: 840px){
                text-align: center;
                width: 100%;
                margin: auto;
                
            }
            h1{
                margin-bottom: 15px;
                text-align: center;
                @media (max-width: 840px){
                    margin: auto;
                }
            }
            button{
                padding: 20px;
                border: none;
                color: $color-fonts-2;
                background-color: $colors-background;
                border-radius: 10px;

            }
        }
    }
}