
////wstep do formularza
.containerform{
    
    width: 100%;
    height: 100%;
    text-align: center;
    .logo{
    
        width: 180px;
        height: 110px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: auto;
        img{
            font-size: 200px;

        }
        
    }
    .form{
        width: 80%;
        margin: auto;
        .back{
            margin-left: 88%;
            width: 10%;
            height: 10%;
            img{
                width: 50%;
                height: 50%;
            }
            &:hover{
                cursor: pointer;
            }
        }
        button{
            background-color: $color-blue;
            color:$colors-background;
            border: none;
            margin-top: 40px;
            font-size: 20px;
            padding: 15px 30px 15px 30px;
            &:hover{
                background-color: $colors-background-2;
            }
        }
   }
}
//////////////////////////////dane o zmarłym 
.informationDeceased{
    margin-top: 20px;
    background-color: $colors-background;
    h1{
        font-size: 30px;
        color: $colors-fonts;
        @media (max-width: 700px){
            font-size: 28px;  
        }
        @media (max-width: 450px){
            font-size: 26px;  
        }
    }
    .border{
        width: 100%;
        height: 2px;
        background-color:$colors-background-2;
    }
    .inputBoxMax{
        display: flex;
        justify-content:space-around;
        margin-top: 20px;
        @media (max-width: 768px){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .inputBoxMini{
            display: flex;
            flex-direction: column;
            
            .input{
                margin-bottom:6px ;
                text-align: left;
                @media (max-width: 405px){
                    display: block;
            
                }
                label{
                    font-size: 25px;
                    color: $colors-fonts;
                    @media (max-width: 1200px){
                        font-size: 20px;  
                    }
                    @media (max-width: 1000px){
                        font-size: 18px;  
                    }
                    @media (max-width: 900px){
                        font-size: 16px;  
                    }
                    @media (max-width: 440px){
                        font-size: 14px;  
                    }
                    @media (max-width: 405px){
                        display: block;
                
                    }
                }
                input {
                    &:-webkit-autofill {
                        background-color: $colors-background;
                        font-size: 23px;
                        color: $color-fonts-2;
                        border: none;
                        border-bottom: solid 2px $colors-background-2;
                        -webkit-text-fill-color: $color-fonts-2;
                        -webkit-box-shadow: 0 0 0px 1000px $colors-background inset;
                        transition: background-color 5000s ease-in-out 0s;
                        @media (max-width: 1200px){
                            font-size: 20px;  
                        }
                        @media (max-width: 1000px){
                            font-size: 18px;  
                        }
                        @media (max-width: 900px){
                            font-size: 16px;  
                        }
                    }
                    padding-left: 4px;
                    margin-left:4px;
                    border: none;
                    border-bottom: solid 2px $colors-background-2;
                    background-color: $colors-background;
                    font-size: 23px;
                    color: $color-fonts-2;
                    @media (max-width: 1200px){
                        font-size: 20px;  
                    }
                    @media (max-width: 1000px){
                        font-size: 18px;  
                    }
                    @media (max-width: 900px){
                        font-size: 16px;  
                    }
                    
                }
            }
        }
    }
}


/////////////////////informacje o ceremonio 
.typeCeremony{
    margin-top: 20px;
    background-color: $colors-background;
    h3{
        padding-top: 20px;
        font-size: 30px;
        color: $colors-fonts;
        @media (max-width: 700px){
            font-size: 28px;  
        }
        @media (max-width: 450px){
            font-size: 26px;  
        }
    }
    .border{
        width: 100%;
        height: 2px;
        background-color:$colors-background-2;
    }

    .filling{
        text-align: justify;
        width: 100%;
        
        h2{
            margin: auto;
            font-size: 25px;
            color: $colors-fonts;
            margin-top: 20px;
            border-bottom: solid 2px;
            text-align: center;
            width: 70%;
            @media (max-width: 700px){
                font-size: 22px;  
            }
            @media (max-width: 450px){
                font-size: 20px;  
            }
        }
        .presides{
            margin: auto;
            width: 60%;
            display: flex;
            justify-content: space-around;
            @media (max-width: 1200px){
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            .this_or_that{
                margin-top: 25px;
                margin-bottom: 45px;
                display: flex;
                @media (max-width: 1200px){
                    margin-top: 15px;
                margin-bottom: 25px;
                }
                h1{
                    margin-left: 6px;
                    color: $colors-fonts;
                    @media (max-width: 600px){
                        font-size: 20px;  
                    }
                    @media (max-width: 500px){
                        font-size: 18px;  
                    }
                }
            }
            h1{
                font-size: 23px;
            }
            label{
                font-size: 23px;
                color: $colors-fonts;
                @media (max-width: 900px){
                    font-size: 20px;  
                }
                @media (max-width: 510px){
                    font-size: 18px;  
                }
            }
            input {
                padding-left: 4px;
                margin-left:5px;
                border: none;
                border-bottom: solid 2px $colors-background-2;
                background-color: $colors-background;
                font-size: 15px;
                color: $color-fonts-2;
                text-transform:capitalize;
                
                
            }
        
            select{
                padding-left: 4px;
                margin-left:5px;
                border: none;
                border-bottom: solid 2px $colors-background-2;
                background-color: $colors-background;
                font-size: 18px;
                color: $color-fonts-2;
                text-transform:capitaliz;
                @media (max-width: 900px){
                    font-size: 16px;  
                }
                @media (max-width: 510px){
                    font-size: 12px;  
                }
            }
            
            
        }
        .container_select{
            display: flex;
            justify-content: space-around;
            padding-left: 20%;
            padding-right: 20%;
            @media (max-width: 760px){
                flex-direction: column;
                align-items: center;
            }

            select{
                padding-left: 4px;
                margin-left:5px;
                border: none;
                border-bottom: solid 2px $colors-background-2;
                background-color: $colors-background;
                font-size: 20px;
                color: $color-fonts-2;
                text-transform:capitaliz;
                disabled {
                    background-color:red;
                }
            
            }
            
        }
        .car{
            margin-top: 80px;
        }

        .containerflowers{
             h2{
                margin-bottom: 30px;
               
             }
            .flowers{
                margin-top: 25px;
                
                margin: auto;
                display: flex;
                justify-content: space-around;
                width: 100%;
                @media (max-width: 760px){
                    flex-direction: column;
                    align-items: center;
                }
                label{
                    font-size: 23px;
                    color: $colors-fonts;
                    @media (max-width: 980px){
                        font-size: 20px; 
                        
                    }
                    @media (max-width: 920px){
                        font-size: 20px;  
                    }
                    @media (max-width: 820px){
                        font-size: 18px;  
                    }
                }
                input {
                    width: 50px;
                    padding-left: 4px;
                    margin-left:5px;
                    border: none;
                    border-bottom: solid 2px $colors-background-2;
                    background-color: $colors-background;
                    font-size: 25px;
                    color: $color-fonts-2;
                    text-transform:capitalize;

                    @media (max-width: 980px){
                        font-size: 20px; 
                        
                    }
                    @media (max-width: 920px){
                        font-size: 18px; 
                        width: 35px;
                    }
                    @media (max-width: 820px){
                        font-size: 16px; 
                    }
                    
                }
            }
        } 
    }
}
.checkbox 
    {
        cursor: pointer;
        display: flex;
        width: 20px;
        height: 20px;
        color:$colors-fonts; 
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        span {
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            border: 3px solid $colors-fonts;
            cursor: pointer;
            
            }
            .accepted{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background:$colors-fonts;
        }
        } 

////checked
          
 // kalkulator
 .containerCalculate{
    position: absolute;
    position: fixed;
    font-size: 10px;
    top: 300px;
    left: 30px;
    opacity: 70%;
    padding: 10px;
    background-color: $color-blue;
    width: 200px;
    border-radius: 8%;

    @media (max-width: 1000px){
        position:inherit;
        margin: auto;
        width: 400px;
        font-size: 12px;
    }
    @media (max-width: 500px){
        width: 200px;
        font-size: 10px;
    }
    &:hover{
        opacity: 100%;
    }
    .first{
        border: 3px solid black ;
    }
    .row{
        margin-top:4px ;
        padding-left: 5px;
        padding-right:10px;
        background-color: $colors-fonts;
    }
 }