@import "settings/reset";
@import "settings/grid";
@import "settings/variables";

@import "./elements_app/appChoice";
@import "./elements_app/app";

@import "./elements_home/header";
@import "./elements_home/hamburger";

#app{
    background-color: $colors-background;
    width: 100%;
    height: 100%;
    
}